// axios գրադարանը
script(
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js"
  integrity="sha512-h9644v03pHqrIHThkvXhB2PJ8zf5E9IyVnrSfZg8Yj8k4RsO4zldcQc4Bi9iVLUCCsqNY0b4WXVV4UB+wbWENA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
)

// քո սեփական script
script.

    axios.get("/")
    .then(res=>{
        console.log('ok')
        })
    .catch(err => {
        console.log(err)
        })