<h1>Welcome</h1>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.11.0/axios.min.js" integrity="sha512-h9644v03pHqrIHThkvXhB2PJ8zf5E9IyVnrSfZg8Yj8k4RsO4zldcQc4Bi9iVLUCCsqNY0b4WXVV4UB+wbWENA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
   axios.get("users/find/101")
   .then(res=>console.log(res.data))
        axios.get("product/find/402")
   .then(res=>console.log(res.data))
   axios.get("users/bar")
   .then(res=>console.log(res.data))
   axios.get("users/qux")
   .then(res=>console.log(res.data))
</script>