<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add User</h1>
<form action="/add" method="post">
    <div>
        <label>name</label>
        <input type="text" name="name" id="">
    </div>
    <div>
        <label>surname</label>
        <input type="text" name="surname" id="">
    </div>
    <button>Save</button>
</form>
</body>
</html>